{% extends 'core/base.html'%}	

{%block title %}Home {% endblock%}
{% load static %}

{% block background %}{% static 'core/img/home-bg.jpg'%}{% endblock background %}

{% block headers%} 
	<h1>Software Revolution</h1>
    <span class="subheading">An[alisis de datos a través de IA</span>
{% endblock%}
              

{%block content%}

{% endblock%}
