{% extends 'core/base.html'%}	

{%block title %}Demo {% endblock%}
{% load static %}

{% block background %}{% static 'core/img/portfolio-bg.jpg'%}{% endblock background %}

{% block headers%} 
  <h1>Demo</h1>
  <span class="subheading">Sistema de análisis pormedio de IA</span>
{% endblock%}


{%block content%}

<div class="container">

	{%for project in projects%}
		<div class="row project">  	
			<div class="col-lg-3 col-md-4 offset-lg-1">
			  <img class="img-fluid" src="{{project.image.url}}" alt="">
			</div>
			<div class="col-lg-7 col-md-8">
				<h2 class="section-heading title">{{project.title}}</h2>   
			<p>{{project.description}}</p>
			<p><a href="http://google.com">Más información</a></p>
		</div>	
		<span>{{ project|date:"D d M Y" }}</span>
	{%endfor%}

	<style>
		.file {
		visibility: hidden;
		position: absolute;
		}

	</style>
	<script>
		$(document).on('click', '.browse', function(){
		var file = $(this).parent().parent().parent().find('.file');
		file.trigger('click');
		});
		$(document).on('change', '.file', function(){
		$(this).parent().find('.form-control').val($(this).val().replace(/C:\\fakepath\\/i, ''));
		});
	</script>
	<div class="container">
  
		<div class="form-group">
		  <input type="file" name="img[]" class="file">
		  <div class="input-group col-xs-12">
			<span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>
			<input type="text" class="form-control input-lg" disabled placeholder="Upload file">
			<span class="input-group-btn">
			  <button class="browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-search"></i> Browse</button>
			</span>
		  </div>
		</div>
		<div class="form-group">
		  <input type="file" name="img[]" class="file">
		  <div class="input-group col-xs-12">
			<span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>
			<input type="text" class="form-control input-lg" disabled placeholder="Upload file">
			<span class="input-group-btn">
			  <button class="browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-search"></i> Browse</button>
			</span>
		  </div>
		</div>
		<div class="form-group">
		  <input type="file" name="img[]" class="file">
		  <div class="input-group col-xs-12">
			<span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>
			<input type="text" class="form-control input-lg" disabled placeholder="Upload file">
			<span class="input-group-btn">
			  <button class="browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-search"></i> Browse</button>
			</span>
		  </div>
		</div>
	  
	  </div>

	<!-- Proyecto
		<div class="row project">  	
			<div class="col-lg-3 col-md-4 offset-lg-1">
			  <img class="img-fluid" src="{% static 'core/img/about-bg.jpg'%}" alt="">
			</div>
			<div class="col-lg-7 col-md-8">
					<h2 class="section-heading title">Segundo proyecto</h2>   
				<p>As we got further and further away, it [the Earth] diminished in size. Finally it shrank to the size of a marble, the most beautiful you can imagine. That beautiful, warm....</p>
				<p><a href="http://google.com">Más información</a></p>
			</div>
		</div>-->
		<!-- Proyecto 
		<div class="row project">  	
			<div class="col-lg-3 col-md-4 offset-lg-1">
			  <img class="img-fluid" src="{% static 'core/img/home-bg.jpg'%}" alt="">
			</div>
			<div class="col-lg-7 col-md-8">
				<h2 class="section-heading title">Primer proyecto</h2>   
			<p>As we got further and further away, it [the Earth] diminished in size. Finally it shrank to the size of a marble, the most beautiful you can imagine. That beautiful, warm....</p>
			<p><a href="http://google.com">Más información</a></p>
			</div>			
		</div>
	</div>-->
{% endblock%}